NODE_ENV=development
PORT=3032

SENTRY_DSN=...

STRIPE_API_VER=2025-01-27.acacia
STRIPE_PK=...
STRIPE_SK=...

STRIPE_SOARELE_STRALUCIREA_TA=...
STRIPE_GHID_SATURN_IN_BERBEC=...
STRIPE_ASTROGRAMA_NATALA_SI_KARMICA=...
STRIPE_ASTROGRAMA_RELATIONALA=...
STRIPE_ASTROGRAMA_PREVIZIONALA=...
STRIPE_EVENIMENT_CONSTELATII=...
