NODE_ENV=...

ASTROLOGY_API_SERVER_PORT=...
ASTROLOGY_API_SERVER_DNS=...

BOOKING_API_SERVER_PORT=...
BOOKING_API_SERVER_DNS=...

PAYMENT_API_SERVER_PORT=...
PAYMENT_API_SERVER_DNS=...

FRONTEND_SERVER_PORT=...
FRONTEND_SERVER_DNS=...

PAYMENT_API_SENTRY_DSN=...

STRIPE_API_VER=...
STRIPE_SK=...

STRIPE_SOARELE_STRALUCIREA_TA=...
STRIPE_GHID_SATURN_IN_BERBEC=...
STRIPE_ASTROGRAMA_NATALA_SI_KARMICA=...
STRIPE_ASTROGRAMA_RELATIONALA=...
STRIPE_ASTROGRAMA_PREVIZIONALA=...
STRIPE_EVENIMENT_CONSTELATII=...
